<!-- post.component.html -->
<div class="post-container" *ngIf="postContent">
    <div class="post-card">
        <!-- Header -->
        <div class="post-header">
            @if(postContent.getCommunityId()){
            <div class="user-info">
                <div class="profile-container">
                    <img [src]="postContent.getCoverPicture()" class="profile-image">
                    <div class="group-image">
                        <img [src]="postContent.getUserInfo().getProfilePic()"
                            [alt]="postContent.getUserInfo().getUsername()" alt="Group Image">
                    </div>
                </div>
                <div class="user-details">
                    <div class="user-top-line">
                        <div class="group-name">
                            <p class="group">{{postContent.getNameComunity()}}</p>
                            <span class="username">{{postContent.getUserInfo().getUsername()}}</span>
                        </div>
                        <div class="preference-badge">
                            @if (postContent.getTypeCommunity() === 'questions') {
                            <i>📝</i>
                            <span>Preguntas y respuestas</span>
                            }@else if(postContent.getTypeCommunity() === 'resources-academic'){
                            <i>📖</i>
                            <span>Recursos academicos</span>
                            }@else if (postContent.getTypeCommunity() === 'experiences') {
                            <i>👨🏽‍💼</i>
                            <span>Experiencias</span>
                            }@else if(postContent.getTypeCommunity() === 'opinions'){
                            <i>🗯️</i>
                            <span>Opiniones</span>
                            }@else if (postContent.getTypeCommunity() === 'resources-external') {
                            <i>📸</i>
                            <span>Recursos externos</span>
                            }
                        </div>
                    </div>
                    <span class="post-time">{{postContent.getCreatedAt() | date:" d MMM y"}} · 🌎</span>
                </div>
            </div>
            }@else {
            <div class="user-info">
                <div class="profile-image">
                    <img [src]="postContent.getUserInfo().getProfilePic()"
                        [alt]="postContent.getUserInfo().getUsername()">
                </div>
                <div class="user-details">
                    <div class="user-top-line">
                        <span class="username" (click)="goProfile()">{{postContent.getUserInfo().getUsername()}}</span>
                        <div class="preference-badge">
                            @if (postContent.getCommunityId()) {
                            @if (postContent.getTypeCommunity() === 'questions') {
                            <i>📝</i>
                            <span>Preguntas y respuestas</span>
                            }@else if(postContent.getTypeCommunity() === 'resources-academic'){
                            <i>📖</i>
                            <span>Recursos academicos</span>
                            }@else if (postContent.getTypeCommunity() === 'experiences') {
                            <i>👨🏽‍💼</i>
                            <span>Experiencias</span>
                            }@else if(postContent.getTypeCommunity() === 'opinions'){
                            <i>🗯️</i>
                            <span>Opiniones</span>
                            }@else if (postContent.getTypeCommunity() === 'resources-external') {
                            <i>📸</i>
                            <span>Recursos externos</span>
                            }
                            }@else {
                            @if (postContent.getUserPreference()?.getType() === 'mentor') {
                            <i>🧠</i>
                            } @else if (postContent.getUserPreference()?.getType() === 'explorador') {
                            <i>🔍</i>
                            } @else if (postContent.getUserPreference()?.getType() === 'entusiasta') {
                            <i>💡</i>
                            }
                            <span>{{postContent.getUserPreference()?.getTopicName()}}</span>
                            }
                        </div>
                    </div>
                    <span class="post-time">{{postContent.getCreatedAt() | date:" d MMM y"}} · @if
                        (postContent.getPrivacy() === 'public') {
                        🌎}@else {
                        🔒
                        }</span>
                </div>
            </div>
            }

            @if (postContent.getUserInfo().getUserId() === userId) {
            <button class="options-button" (click)="toggleOptionsMenu($event)">•••</button>
            @if (isOptionsMenuOpen) {
            <div class="options-dropdown" (click)="$event.stopPropagation()">
                <button class="dropdown-item" (click)="editPublication()">
                    <i class="pi pi-pencil"></i> Editar publicación
                </button>
                <button class="dropdown-item" (click)="deletePublication()">
                    <i class="pi pi-trash"></i> Eliminar publicación
                </button>
            </div>
            }

            }@else if(amHost){
            <button class="options-button" (click)="toggleOptionsMenu($event)">•••</button>
            @if (isOptionsMenuOpen) {
            <div class="options-dropdown" (click)="$event.stopPropagation()">
                <button class="dropdown-item" (click)="deletePublication()">
                    <i class="pi pi-trash"></i> Eliminar publicación
                </button>
            </div>
            }
            }@else {
            <button class="options-button" (click)="toggleOptionsMenu($event)">•••</button>
            @if (isOptionsMenuOpen) {
            <div class="options-dropdown" (click)="$event.stopPropagation()">
                <button class="dropdown-item" (click)="editPublication()">
                    <i class="pi pi-pencil"></i> Reportar publicacion
                </button>
            </div>
            }
            }
        </div>

        <!-- Content -->
        <div class="post-content" (click)="goToPost()">
            <p class="post-text">{{postContent.getContent()}}</p>
            @if (postContent.getMediaUrl()) {
            <div class="media-container">
                <img [src]="postContent.getMediaUrl()" alt="Post media" class="post-media">
            </div>
            }
            <div class="tags">
                @if (postContent.getTags() && postContent.getTags().length > 0) {
                <div class="post-tags">
                    <div class="tags-container">
                        @for (tag of postContent.getTags(); track tag) {
                        <span class="tag">{{tag.getTagName()}}</span>
                        }
                    </div>
                </div>
                }
            </div>
        </div>

        <!-- Actions -->
        <div class="post-actions">
            <button class="action-button" (click)="giveLike()">
                <i class="pi pi-heart" [ngClass]="postContent.isLiked() ? 'red' : 'no-red'"></i>
                @if (postContent.getCantLikes() > 0) {
                <span>{{postContent.getCantLikes()}}</span>
                }
            </button>
            <button class="action-button" [routerLink]="['detail_post', postContent.getId()]">
                <i class="pi pi-comment"></i>
                @if (postContent.getCantComments() > 0) {
                <span>{{postContent.getCantComments()}}</span>
                }
            </button>
        </div>
    </div>
</div>


@if(publicationEdit() && type === 'profile'){
<app-modal-post [myUser]="userDemo" [editable]="true" [postContent]="postContent" [type]="'post'"
    (clickEvent)="editPublication()"></app-modal-post>
}@else if (publicationEdit() && type === 'group') {
<app-modal-post [myUser]="userDemo" [editable]="true" [postContent]="postContent" [type]="'group'"
    (clickEvent)="editPublication()"></app-modal-post>
}

@if (publicationDelete()) {
<div class="modal-overlay">
    <div class="modal-content">
        <h2>Eliminar publicacion</h2>
        <p>¿Estás seguro de eliminar esta publicacion? Esta acción no se puede deshacer.</p>
        <div class="modal-buttons">
            <button class="btn btn-cancel" (click)="deletePublication()">Cancelar</button>
            <button class="btn btn-delete" (click)="deleteForReal()">Eliminar</button>
        </div>
    </div>
</div>
}