<div class="aside">
    <app-header>
        <div class="information-user">
            <div class="info-user">
                <div class="img">
                    <img [src]="userDemoInfo?.getProfilePic()" alt="">
                </div>
                <div class="username">
                    <p>{{userDemoInfo?.getUsername()}}</p>
                </div>
            </div>
            <div class="config-user">
                <div class="button">
                    <i class="pi pi-cog" style="font-size: 2rem"></i>
                </div>
            </div>
        </div><!-- Puede ser un componente -->
    </app-header>
    <app-chat-container class="chat-container"></app-chat-container>

</div>