<div class="aside">
    <app-header>
        <div class="information-user">
            <div class="info-user">
                <div class="img">
                    <img [src]="userDemoInfo?.getProfilePic()" alt="">
                </div>
                <div class="username">
                    <p>{{userDemoInfo?.getUsername()}}</p>
                </div>
            </div>
            <div class="config-user">
                <div class="button">
                    <i class="pi pi-cog" style="font-size: 2rem"></i>
                </div>
            </div>
        </div><!-- Puede ser un componente -->
    </app-header>
    <!-- chat component -->
    <!-- <div class="chat-component">
        <div class="content-chat">

        </div>
        <div class="input-chat">

        </div>
    </div> -->
    <!-- <div class="chat-container">
        <div class="chat-messages">
            <div class="message received">
                <p>¡Hola! ¿Cómo estás?</p>
                <span class="timestamp">10:01 AM</span>
            </div>
            <div class="message sent">
                <p>¡Hola! Todo bien, ¿y tú?</p>
                <span class="timestamp">10:02 AM</span>
            </div>
        </div>
        <div class="chat-input">
            <button class="emoji-button">😊</button>
            <input type="text" placeholder="Escribe un mensaje..." />
            <button class="image-button">📷</button>
            <button class="send-button">Enviar</button>
        </div>

    </div> -->
    <app-chat-container class="chat-container"></app-chat-container>

</div>