button {
  font-size: 1.5rem; /* Tama침o de fuente */
  border: none; /* Sin borde */
  border-radius: 10rem; /* Bordes redondeados */
  background: rgba(35, 181, 211, 1);
  color: white; /* Color del texto */
  cursor: pointer; /* Cambiar cursor al pasar sobre el bot칩n */
  transition: background-color 0.3s; /* Transici칩n suave para el cambio de color */
  display: block;
}

.buttonDisabled {
  opacity: 0.4;
  cursor: not-allowed;
}

/* Estilo para el hover */
button:hover {
  background: rgb(15, 189, 224);
}

.small-button {
  padding: .5rem .5rem; /* Espaciado interno */
  font-size: 1.2rem; /* Tama침o de fuente */
}

.big-button {
  padding: 0.7rem 5rem; /* Espaciado interno */
}

.medium-button{
  padding: .5rem 3rem;
}

.tiny-button {
  padding: .1rem .5rem;
}

.p-chip {
  font-family: monospace
}