<div id="modal-background" class="modal-background">
    @if (!applies()) {
    <form [formGroup]="formPost">
        <div class="post-modal">
            <div class="post-header">
                <span>Crear publicación</span>
                <button class="close-btn" (click)="onClick()">&times;</button>
            </div>
            <div class="post-content">
                <div class="user-info">
                    @if (userInformation) {
                    <div class="info">
                        <img [src]="userInformation.getProfilePic() || '/images/user.webp'" alt="User Photo" class="user-photo">
                        <div class="user-name">{{userInformation.getUsername()}}</div>
                    </div>
                    }
                    <div class="privacy">
                        <p-dropdown [options]="paymentOptions" optionLabel="name" formControlName="visibility" />
                    </div>
                </div>
                <!-- aqui -->
                <textarea placeholder="¿Qué estás pensando?" class="post-textarea" formControlName="content"></textarea>
                <div class="tags-toggle-section">
                    @if (!showTagsInput) {
                    <button class="add-tags-btn" (click)="toggleTagsInput()">
                        + Añadir etiquetas
                    </button>
                    } @else {
                    <div class="tags-input-container">
                        <div class="tags-header">
                            <span>Etiquetas</span>
                            <button class="close-tags-btn" (click)="toggleTagsInput()">&times;</button>
                        </div>
                        <input type="text" class="tags-input" placeholder="Escriba etiquetas separadas por comas"
                            formControlName="tags" (keydown.enter)="onEnter($event)" />
                        <div class="tags-list">
                            @if (formPost.get('tags')?.value) {
                            @for (tag of formatTags(formPost.get('tags')?.value); track $index) {
                            <span class="tag">
                                {{tag.trim()}}
                                <button class="remove-tag" (click)="removeTag($index)">&times;</button>
                            </span>
                            }
                            }
                        </div>
                    </div>
                    }
                </div>
            </div>
            @if (submitEnter()) {
                <div class="card">
                    <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
                </div>
            }
            <div class="post-footer">
                <div class="post-actions">
                    <label for="imageInput" class="action-btn">
                        📷
                        <input type="file" (change)="onImageSelected($event)" />
                    </label>

                </div>
                <button class="post-button" (click)="addPost()">
                    Postear
                </button>
            </div>
        </div>
    </form>
    }@else {
    <div class="post-modal">
        <div class="post-header">
            <span>Solicitudes de acceso</span>
            <button class="close-btn" (click)="onClick()">&times;</button>
        </div>
        <div class="post-content min-heigth">
            <div class="text-center mb-5">
                <h2>Solicitudes de acceso</h2>
            </div>

            <div class="member-raised-hand">
                @for (item of applyGroups(); track $index) {
                <div class="member">
                    <div class="img">
                        @if(item.getUserDemo().getProfilePic()){
                            <img [src]="item.getUserDemo().getProfilePic() || '/images/user.webp'" alt="">
                        }
                    </div>
                    <div class="username">
                        <p>{{item.getUserDemo().getUsername()}}</p>
                    </div>
                    <div class="controls">
                        <div class="accept">
                            <button class="button check-button" (click)="responseApply('approved',item.getUserDemo().getUserId())">&#10004;</button>
                        </div>
                        <div class="ignore">
                            <button class="button cross-button" (click)="responseApply('rejected', item.getUserDemo().getUserId())">&#10005;</button>
                        </div>
                    </div>

                </div>
                }
            </div>
        </div>
        <div class="post-footer">
            <button class="post-button" (click)="addPost()">Postear</button>
        </div>
    </div>
    }
</div>
<p-toast></p-toast>