.navbar-left {
  position: fixed; /* Fijo en la pantalla */
  top: 0;
  left: 0;
  height: 100vh; /* Toda la altura disponible */
  width: 300px; /* Ancho fijo para el navbar */
  border-right: 0.1rem solid #d3d3d3;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
}

.navbar-left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}

.tweet-container {
  color: #000;
  border-radius: 8px;
  padding: 16px;
  position: relative;
}

.profile-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  cursor: pointer;
}

.profile-image img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.username-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
}

.username {
  font-weight: bold;
}

.handle {
  color: #6e767d;
}

.options-button {
  color: #6e767d;
}

.tooltip {
  color: #000;
  position: absolute;
  top: -100px;
  right: 0;
  border-radius: 8px;
  padding: 16px;
  z-index: 1;
}

.tooltip-content {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.tweet-text {
  margin-bottom: 12px;
}

.tooltip-button {
  background-color: #1da1f2;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
}

.navbar {
  background: linear-gradient(135deg, #3b82f6, #6366f1);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 8px;
}

.navbar-list {
  display: flex;
  gap: 1rem;
  list-style: none;
  padding: 0;
  margin: 0;
}


.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.app-title {
  font-size: 2.5rem;
  font-weight: 600;
  /* letter-spacing: 1px; */
}

.talk-part {
  color: #2c3e50;
  margin-right: 5px;
}

.zone-part {
  color: #34495e;
  font-weight: 900;
}