<div class="contenedor">
    <div class="header">
        <h1>Bienvenido a TalkZone</h1>
    </div>
    <div class="main">
        @if (!stepOne) {
        <div class="containerr">
            <div class="intro">
                <p>En <strong>TalkZone</strong>, puedes aprender, enseñar y conectar con personas que comparten tus
                    intereses. Hemos creado una experiencia flexible para que explores temas, compartas conocimientos y
                    participes en conversaciones enriquecedoras.</p>
            </div>

            <div class="roles">
                <div class="role">
                    <h2>Exploradores</h2>
                    <p>Si deseas aprender, selecciona los temas que te interesan y comienza a descubrir nuevas ideas.
                    </p>
                </div>

                <div class="role">
                    <h2>Mentores</h2>
                    <p>Si eres experto en algún tema, comparte tu conocimiento con los demás y ayuda a los personas
                        a crecer.</p>
                </div>

                <div class="role">
                    <h2>Entusiastas</h2>
                    <p>Si te apasiona participar en conversaciones, pero no te enfocas en enseñar ni aprender
                        formalmente, este rol es para ti.</p>
                </div>
            </div>

            <div class="footer">
                <p>¡Elige tus temas y conecta con otros! Puedes cambiar de rol y explorar lo que más te interese.
                    ¡Disfruta de la experiencia en TalkZone!</p>
                <div class="flex-type">
                    <app-button buttonClass="medium-button" text="Configurar mi perfil" (click)="changeStep()" />
                </div>
            </div>
        </div>
        }@else {
        <!-- <form [formGroup]="formDescription">
            <textarea formControlName="about_me"></textarea>
            <div class="teach">
                <p>Explorador:</p>
                <app-button buttonClass="medium-button" text="Elegir tema" (click)="showDialog(0, 'explorador')" />
                <div class="topics-teach">
                    @for (item of getUserPreferences('explorador'); track item) {
                    <p-chip [label]="item.getTopicName()" [removable]="true"
                        (onRemove)="deleteUserPreference(item.getTopicName())" />
                    }
                </div>
            </div>

            <div class="learn">
                Mentor:
                <app-button buttonClass="medium-button" text="Elegir tema" (click)="showDialog(1, 'mentor')" />
                <div class="topics-learn">
                    @for (item of getUserPreferences('mentor'); track item) {
                    <p-chip [label]="item.getTopicName()" [removable]="true"
                        (onRemove)="deleteUserPreference(item.getTopicName())" />
                    }
                </div>
            </div>

            <div class="learn">
                Entusiasta:
                <app-button buttonClass="medium-button" text="Elegir tema" (click)="showDialog(1, 'entusiasta')" />
                <div class="topics-learn">
                    @for (item of getUserPreferences('entusiasta'); track item) {
                    
                    <p-chip [label]="item.getTopicName()" [removable]="true"
                        (onRemove)="deleteUserPreference(item.getTopicName())" />
                    }
                </div>
            </div>
        </form> -->
        <div class="container">
            <div class="main-content">
                <textarea class="description-box" placeholder="Añade una descripción acerca de ti"></textarea>

                <div class="role-section">
                    <div class="role-title">Explorador:
                        <div class="tooltip-container"
                            pTooltip="Si deseas aprender, selecciona los temas que te interesan y comienza a descubrir nuevas ideas"
                            tooltipPosition="right" placeholder="Right">
                            <span class="tooltip-icon">?</span>
                        </div>
                    </div>
                    <div class="topics">
                        @for (item of getUserPreferences('explorador'); track item) {
                        <p-chip [label]="item.getTopicName()" [removable]="true"
                            (onRemove)="deleteUserPreference(item.getTopicName())" class="right" />
                        }
                    </div>
                    <app-button buttonClass="small-button" text="Elegir tema" (click)="showDialog(0, 'explorador')" />

                </div>

                <div class="role-section">
                    <div class="role-title">Mentor:
                        <div class="tooltip-container" pTooltip="Si eres experto en algún tema, comparte tu conocimiento con los demás y ayuda a los personas
                        a crecer" tooltipPosition="right" placeholder="Right">
                            <span class="tooltip-icon">?</span>
                        </div>
                    </div>

                    <div class="topics">
                        @for (item of getUserPreferences('mentor'); track item) {
                        <p-chip [label]="item.getTopicName()" [removable]="true"
                            (onRemove)="deleteUserPreference(item.getTopicName())" />
                        }
                    </div>
                    <app-button buttonClass="small-button" text="Elegir tema" (click)="showDialog(0, 'mentor')" />
                </div>

                <div class="role-section">
                    <div class="role-title">Entusiasta:
                        <div class="tooltip-container" pTooltip="Si te apasiona participar en conversaciones, pero no te enfocas en enseñar ni aprender
                        formalmente, este rol es para ti" tooltipPosition="right" placeholder="Right">
                            <span class="tooltip-icon">?</span>
                        </div>
                    </div>
                    <div class="topics">
                        @for (item of getUserPreferences('entusiasta'); track item) {
                        <p-chip [label]="item.getTopicName()" [removable]="true"
                            (onRemove)="deleteUserPreference(item.getTopicName())" />
                        }
                    </div>
                    <app-button buttonClass="small-button" text="Elegir tema" (click)="showDialog(0, 'entusiasta')" />
                </div>
            </div>

            <form [formGroup]="formPicture">
                <div class="profile-photo-section">
                    <label for="profilePhotoInput" class="profile-photo-label">
                        <img [src]="profilePhotoPreview" class="profile-photo">
                        <div class="camera-icon larger-icon"></div>
                    </label>
                    <input id="profilePhotoInput" type="file" hidden (change)="onImageSelected($event)"
                        formControlName="profile_picture">
                </div>
            </form>

        </div>
        <div class="flex-type">
            <app-button text="Guardar perfil" buttonClass="btn-large" (clickEvent)="uploadInformation()"></app-button>
        </div>
        <div class="flex-type"></div>
        }
    </div>
</div>
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem', height:'40rem' }" [closable]="true"
    [dismissableMask]="true" [draggable]="false">
    <form [formGroup]="formTopics">
        <div class="flex justify-content-center">
            <p-stepper [linear]="true" [activeStep]="activeStep()">
                <p-stepperPanel>
                    <ng-template pTemplate="content">
                        <div class="">
                            <div class="title">
                                <h2>Selecciona una categoría principal</h2>
                            </div>
                            <div>

                                <!--PREGUNTAR PROFE PARA PARPADEAR PANTALLA-->
                                @if(responseTopicPrincipal$ | async; as topicPrincipalList ){
                                @defer() {
                                <p-dropdown optionLabel="name" placeholder="Seleccionar categoria"
                                    [style]='{width:"100%"}' [options]="topicPrincipalList" optionLabel="topic_name"
                                    formControlName="firstTopic" />
                                }
                                }

                            </div>
                        </div>
                        <div class="mt-3">
                            <app-button buttonClass="medium-button" text="Siguiente" (clickEvent)="next()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel>
                    <ng-template pTemplate="content">
                        <div class="container text-center">
                            <h2>Selecciona un subtema dentro de </h2>
                        </div>
                        <div>
                            <p-dropdown optionLabel="name" placeholder="Seleccionar categoria" [style]='{width:"100%"}'
                                [options]="getTopicTags().getTopicSecondList()" optionLabel="topic_name"
                                formControlName="secondTopic" />
                        </div>
                        <div class="mt-3">
                            <app-button buttonClass="medium-button" text="Siguiente" (clickEvent)="next()" />
                        </div>

                        @if (topicExiste()) {
                        <h3>Ese tema, ya esta puesto en alguna de tus otras preferencias, por favor, elige otro :D</h3>
                        }
                    </ng-template>
                </p-stepperPanel>
                <p-stepperPanel>
                    <ng-template pTemplate="content">
                        <div class="container text-center">
                            <h2>Personaliza tu selección con palabras clave</h2>
                            <div class="tooltip-container" (click)="openDial()">
                                <span class="tooltip-icon">?</span>
                            </div>
                        </div>

                        <div class="input-group text-center">
                            <p-autoComplete [suggestions]="filteredTags" optionLabel="tag_name"
                                (completeMethod)="filterTags($event)" formControlName="tag" [showEmptyMessage]="false"
                                [style]='{width:"100%"}' [inputStyle]="{width:'100%'}" />



                            <div class="flex-type">
                                <app-button buttonClass="medium-button" text="Añadir"
                                    (clickEvent)="addTag()"></app-button>
                            </div>
                        </div>

                        <div class="flex align-items-center gap-2 flex-wrap">
                            @for (item of getTopicTags().getTagAdded(); track item.getId()) {
                            <p-chip [label]="item.getTagName()" [removable]="true"
                                (onRemove)="getTopicTags().tagRemove(item.getId())" />
                            }
                        </div>

                        <div class="mt-3">
                            <app-button buttonClass="medium-button" text="Siguiente" (clickEvent)="next()" />
                        </div>
                    </ng-template>
                </p-stepperPanel>
            </p-stepper>
        </div>
    </form>
</p-dialog>

<p-dialog [modal]="true" [(visible)]="modalOutOf" [style]="{ width: '25rem' }">
    <h2>Haz alcanzado el maximo de preferencias para el tipo {{maximo}}</h2>
    <app-button buttonClass="medium-button" text="Aceptar" (clickEvent)="okey()"></app-button>
</p-dialog>


@if (openShow()) {
<div class="modal-overlay">
    <div class="modal-container">
        <div class="modal-body">
            <button class="close-button" (click)="openDial()">&times;</button>

            <section class="tag-benefits-section">
                <h4>Beneficios de las Etiquetas</h4>

                <p>Las etiquetas te permiten personalizar aún más tus intereses y habilidades dentro de TalkZone. Al
                    añadir etiquetas relacionadas con los temas que conoces o deseas aprender:</p>

                <ul>
                    <li class="flex items-start">
                        <span>•</span>
                        <div>
                            <h5>Precisión en las conexiones</h5>
                            <p>Ayudamos a que encuentres personas con intereses y conocimientos específicos que
                                coincidan contigo.</p>
                        </div>
                    </li>

                    <li class="flex items-start">
                        <span>•</span>
                        <div>
                            <h5>Contenido relevante</h5>
                            <p>Recibirás publicaciones, sugerencias de salas de voz y grupos.</p>
                        </div>
                    </li>

                    <li class="flex items-start">
                        <span>•</span>
                        <div>
                            <h5>Mejor visibilidad</h5>
                            <p>Los demás usuarios podrán entender mejor tus intereses y cómo pueden colaborar contigo.
                            </p>
                        </div>
                    </li>
                </ul>
            </section>
        </div>
    </div>
</div>
}