<!-- <div class="talkzone-dashboard">

</div> -->

<div class="dashboard-container">
    <div class="side-navbar">
        <div class="navbar-logo">
            <h1>TalkZone</h1>
        </div>
        <nav class="nav-menu">
            <ul>
                <li class="nav-item active">
                    <a [routerLink]="['/admin']" routerLinkActive="router-link-active" class="nav-link">
                        <i class="feather-home"></i>
                        <span>Inicio</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/users']" class="nav-link">
                        <i class="feather-users"></i>
                        <span>Usuarios</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/groups']" class="nav-link">
                        <i class="feather-message-circle"></i>
                        <span>Grupos</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a [routerLink]="['/admin/reports']" class="nav-link">
                        <i class="feather-bell"></i>
                        <span>Estadisticas</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="navbar-footer">
            <a (click)="goToHome()" class="logout-link">
                <i class="feather-log-out"></i>
                <span>Cerrar Sesión</span>
            </a>
        </div>
    </div>
    <div class="main-dashboard">
        <router-outlet></router-outlet>
    </div>


</div>