@if (comment) {
<div class="tweet-container">
    <div class="profile-pic">
        <a href=""><img [src]="comment.getUserInfo().getProfilePic()" alt="Profile Picture"></a>
    </div>
    <div class="tweet-content">
        <div>
            <span class="username" (click)="goToProfile()">{{comment.getUserInfo().getUsername()}}</span>· <span
                class="timestamp">9 min</span>
        </div>
        <p><span>{{comment.getContent()}}</span></p>
        <div class="tweet-actions">
            <div><span>💬</span> 1</div>
            <div><span>❤️</span> @if(comment.getCantLikes() > 0){
                {{comment.getCantLikes()}}
                }</div>
        </div>
    </div>
</div>
}