@if (myGroup) {
<div class="contenedor">
    <div class="main-content">
        <div class="header">
            <h2 class="title">{{myGroup.getGroupName()}}</h2>
        </div>
        <div class="profile-information">
            <app-profile-information [myGroup]="myGroup" [type]="'group'"></app-profile-information>
        </div>
        @if(!noAccess()){
        <div class="publications">
            <app-post-profile-group></app-post-profile-group>
        </div>
        }@else {
        <div class="container">
            <div class="icon">
                <div class="lock">
                    <div class="lock-body"></div>
                    <div class="lock-shackle"></div>
                </div>
                <div class="file"></div>
            </div>
            <h1 class="h1">Este grupo es privado</h1>
            <p class="p">Únete a este grupo para ver las conversaciones o participar en ellas.</p>
            <div class="button">
                <app-button [text]="text()" (clickEvent)="applyGroup()" [isDisabled]="applyButton()"></app-button>
            </div>
        </div>
        }
    </div>
    <div id="aside">
        <app-aside>
            <div class="header">
            </div>
            @if(!noAccess()){
            <app-information-profile type="group" [group]="myGroup" [typeMember]="typeMember"></app-information-profile>
            }
        </app-aside>
    </div>
</div>
}