<div class="contenedor">
    <app-header>
        <div class="header">
            <h2>Descubrir grupos</h2>
        </div>
    </app-header>
    <div>
        @if (yetNo()) {
        <div class="container-power">
            <div class="card-container">
                <p-skeleton width="100%" height="200px" />
                <div class="flex-space-between mt-3">
                    <p-skeleton width="367px" styleClass="mb-2" />
                </div>
                <div class="haue">
                    <p-skeleton width="10rem" height="2rem" />

                </div>
            </div>

        </div>
        <div class="container-power">
            <div class="card-container">
                <p-skeleton width="100%" height="200px" />
                <div class="flex-space-between mt-3">
                    <p-skeleton width="367px" styleClass="mb-2" />
                </div>
                <div class="haue">
                    <p-skeleton width="10rem" height="2rem" />

                </div>
            </div>

        </div>
        <div class="container-power">
            <div class="card-container">
                <p-skeleton width="100%" height="200px" />
                <div class="flex-space-between mt-3">
                    <p-skeleton width="367px" styleClass="mb-2" />
                </div>
                <div class="haue">
                    <p-skeleton width="10rem" height="2rem" />

                </div>
            </div>

        </div>
        }@else {
        @if (myGroups.length > 0) {
            <div class="btnFiltros">
                <app-button buttonClass="small-button" text="Tipos de grupos" (clickEvent)="showDialogType()"></app-button>
              </div>
        <div class="groups">
            @for (groups of myGroups; track $index) {
            <app-group-presentation [group]="groups"></app-group-presentation>
            }
        </div>
        @if (hasMoreGroups()) {
        <div class="btn-container">
            <app-button text="Mostrar mas" (clickEvent)="showMore()" buttonClass="btn-large"></app-button>
        </div>
        }
        }@else {
        <div class="no-connections-state">
            <div class="no-connections-content">
                <h2>No hay grupos disponibles</h2>
                <p>Por ahora, no hay grupos activos. ¡Sé el primero en crear uno y conecta con otros usuarios!</p>
                <button class="refresh-button" (click)="goToCreate()">Crear grupo</button>
            </div>
        </div>
        }
        }
    </div>
</div>

@if (showTypeGroup()) {
    <div class="connection-preferences-modal">
        <div class="modal-content">
          <div class="modal-header">
            <h3>Tipos de Grupos: Enseñanza vs Pasión</h3>
            <button class="close-button" (click)="showDialogType()">&times;</button>
          </div>
          <div class="modal-body">
            <p>Descubre la diferencia entre nuestros dos tipos de grupos:</p>
            <div class="connection-types">
              <div class="connection-type">
                <div class="preference-icon">📚</div>
                <h4>Enseñanza y Aprendizaje</h4>
                <p>Grupos diseñados con un propósito educativo claro. Aquí, los miembros interactúan con la intención específica de transmitir conocimientos o adquirir nuevas habilidades sobre un tema concreto.</p>
                <ul>
                  <li>Objetivo principal: Aprender o enseñar</li>
                  <li>Estructura más formal y dirigida</li>
                  <li>Intercambio estructurado de conocimientos</li>
                </ul>
              </div>
              <div class="connection-type">
                <div class="preference-icon">🎆</div>
                <h4>Foro de Pasión</h4>
                <p>Grupos enfocados en compartir y disfrutar de un tema de interés común, sin necesidad de una estructura de enseñanza formal.</p>
                <ul>
                  <li>Objetivo principal: Compartir y disfrutar</li>
                  <li>Interacción más libre y espontánea</li>
                  <li>Enfoque en la pasión y el disfrute del tema</li>
                </ul>
              </div>
            </div>
            <p>Elige el tipo de grupo que mejor se adapte a tu forma de conectar y compartir.</p>
          </div>
        </div>
     </div>
}