<div class="container-login">
    <div class="logo">
        <h1 class="talk">Talk<span class="zone">Zone</span></h1>
    </div>
    <div class="login">
        <div class="frase">
            <h2>Aprende algo nuevo, <span class="block">enseña algo valioso</span></h2>
        </div>
        <div class="buttons">
            <app-button buttonClass="small-button" text="Crear cuenta" (clickEvent)="onRegister()" />
            <app-button buttonClass="small-button" text="Iniciar sesión" (clickEvent)="onLogin()" />
        </div>
    </div>
    
    @if(register){
    <!-- <app-modal (close)="closeModal()"> -->
        <app-register (close)="closeModal()"></app-register>
    <!-- </app-modal> -->
    }@else if (login) {
        <app-login (close)="closeModal()"></app-login>
    }
    
</div>