<div class="container-login">
    <div class="logo">
        <h1 class="talk">Talk<span class="zone">Zone</span></h1>
    </div>
    <div class="login">
        <div class="frase">
            <h2>Aprende algo nuevo, <span class="block">enseña algo valioso</span></h2>
        </div>
        <div class="buttons">
            <!-- <div class="button"><p class="texto">Crear cuenta</p></div>
            <div class="button"><p class="texto">Iniciar sesion</p></div> -->
            <app-button text="Crear cuenta" (clickEvent)="onRegister()" />
            <app-button text="Iniciar sesión" (clickEvent)="onLogin()" />
        </div>
    </div>
    <!-- 
    @if(stepTwo){
    <app-modal (close)="closeModal()">
        <app-second-step />
    </app-modal>
    } -->
    @if(stepOne){
    <app-modal (close)="closeModal()">
        <app-first-step />
    </app-modal>
    }
</div>