<div class="contenedor">
    <!-- <div class="options">
        <div class="option">
            <p>Publicaciones</p>
        </div>
        <div class="option">
            <p>Me gusta</p>
        </div>
        <div class="option">
            <p>Multimedia</p>
        </div>
    </div> -->
    <div class="tabs">
        <button class="tab" [ngClass]="{'active': this.rule === 'all'}" (click)="changePublication('all')">
            <p>Publicaciones</p>
        </button>
        @if (access){
            <button class="tab" [ngClass]="{'active': this.rule === 'like'}" (click)="changePublication('like')">
                <p>Me gusta</p>
            </button>
        }
    </div>
    <div class="posts">
        <div class="all-post">
            @for (post of allPost(); track post.getId()) {
            <app-post [postContent]="post" [userDemo]="myUser" type="profile"></app-post>
            }
        </div>
        @if (hasMorePosts) {
        <button (click)="loadMore()">Cargar más</button>
        }
    </div>
</div>