<div class="card" (click)="selectCard(userPreference)">
  <div class="card-header">
    <div class="user-avatar">
      <img [src]="userPreference.userInformation?.profile_picture || '/images/user.webp'" alt="">
    </div>
    <div class="username">
      <p>{{userPreference.userInformation?.username}}</p>

    </div>
    @if (userPreference.userInformation?.is_verified) {
    <span class="twitter-verified"></span>
    }
  </div>
  <div class="card-body">
    <div class="user-topics">
      @for (item of filteredPreferences; track $index) {
      <span class="topic-label">
        {{item.getTopicName()}}
      </span>
      }
    </div>
  </div>
  <div class="card-footer">
    <div class="match-percentage">
      <p>Match: {{userPreference.matchPercentage | number:'1.0-0'}}%</p>
    </div>
  </div>
</div>