/* .aside {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh; 
    width: 300px; 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    border-left: .1rem solid #d3d3d3;
    z-index: 0; 
  } */
/*modificado*/
.aside {
  position: fixed;
  height: 100%;
  border-left: .1rem solid #d3d3d3;
}