<div class="contenedor">
  @if (searchContent()) {
    <div class="main-content">
      <app-header>
        <div class="header">
          <i class="pi pi-arrow-left left" style="font-size: 1.5rem" (click)="goToHome()"></i>
          <h2>Resultados de la busqueda: </h2>
        </div>
      </app-header>
  
      @if (yetNo()) {
      <div class="container-power">
        <div class="card-containerrr">
          <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
            <div class="mr-2">
              <p-skeleton width="15rem" styleClass="mb-2" class="" />
            </div>
          </div>
          <p-skeleton width="100%" height="150px" />
        </div>
      </div>
      <div class="container-power">
        <div class="card-containerrr">
          <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
            <div class="mr-2">
              <p-skeleton width="15rem" styleClass="mb-2" class="" />
            </div>
          </div>
          <p-skeleton width="100%" height="150px" />
        </div>
      </div>
      <div class="container-power">
        <div class="card-containerrr">
          <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
            <div class="mr-2">
              <p-skeleton width="15rem" styleClass="mb-2" class="" />
            </div>
          </div>
          <p-skeleton width="100%" height="150px" />
        </div>
      </div>
      }@else {
      @if(allUserPreferences.length > 0){
  
      <div class="cards-container">
        @for (item of allUserPreferences; track $index) {
        <app-card-user [userPreference]="item" (clickEvent)="selectCard($event)"
          [myPreferences]="myUserPreference"></app-card-user>
        }
      </div>
      }@else {
      <div class="no-connections-state">
        <div class="no-connections-content">
          <h2>No encontramos a nadie para conectar</h2>
          <p>Los resultados de la busqueda no fueron los esperados.</p>
        </div>
      </div>
      }
      }
  
  
    </div>
  }@else {
    <div class="main-content">
      <app-header>
        <div class="header">
          <h2>Conectar</h2>
        </div>
      </app-header>
  
      @if (yetNo()) {
      <div class="container-power">
        <div class="card-containerrr">
          <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
            <div class="mr-2">
              <p-skeleton width="15rem" styleClass="mb-2" class="" />
            </div>
          </div>
          <p-skeleton width="100%" height="150px" />
        </div>
      </div>
      <div class="container-power">
        <div class="card-containerrr">
          <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
            <div class="mr-2">
              <p-skeleton width="15rem" styleClass="mb-2" class="" />
            </div>
          </div>
          <p-skeleton width="100%" height="150px" />
        </div>
      </div>
      <div class="container-power">
        <div class="card-containerrr">
          <div class="flex mb-3">
            <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
            <div class="mr-2">
              <p-skeleton width="15rem" styleClass="mb-2" class="" />
            </div>
          </div>
          <p-skeleton width="100%" height="150px" />
        </div>
      </div>
      }@else {
      @if(allUserPreferences.length > 0){
      <div class="btnFiltros">
        <app-button buttonClass="small-button" text="Tipos de conexiones" (clickEvent)="showDialogType()"></app-button>
        <app-button buttonClass="small-button" text="Filtros" (clickEvent)="showDialog()"></app-button>
      </div>
  
      <div class="cards-container">
        @for (item of allUserPreferences; track $index) {
        <app-card-user [userPreference]="item" (clickEvent)="selectCard($event)"
          [myPreferences]="myUserPreference"></app-card-user>
        }
      </div>
      }@else {
      <div class="no-connections-state">
        <div class="no-connections-content">
          <h2>No encontramos a nadie para conectar</h2>
          <p>Intenta ajustar tus filtros o vuelve a intentarlo más tarde.</p>
          <button class="refresh-button" (click)="showDialog()">Volver a buscar</button>
        </div>
      </div>
      }
      }
  
  
    </div>
  }
  <div id="aside">
    <app-aside>
      <div class="flex">
        <form [formGroup]="formSearch">
            <div class="search-container">
                <input type="text" placeholder="Buscar en TalkZone" class="search-input" formControlName="search" (keydown.enter)="search()">
                <button class="search-button" (click)="search()">
                    <i class="pi 
                      pi-search"></i>
                </button>
            </div>
        </form>
    </div>
      @if (showInfo()) {
      <div class="information-user">
        <div class="image-container">
          <img [src]="userPreferenceInformation?.userInformation?.profile_picture" alt="" class="profile-image">
        </div>
        <div class="username">
          <h3>{{userPreferenceInformation?.userInformation?.username}}</h3>
        </div>
        <div class="topics">
          <div class="topic-section">
            <h4>Mentor:</h4>
            <div class="chip">
              @for (item of userPreferenceInformation?.userPreference; track $index) {
              @if (item.getType() === 'mentor') {
              @if (item.getTags().length > 0) {
              <span class="topic-label" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }@else {
              <span class="topic-label2" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }
              }
              }
            </div>
          </div>
          <div class="topic-section">
            <h4>Explorador:</h4>
            <div class="chip">
              @for (item of userPreferenceInformation?.userPreference; track $index) {
              @if (item.getType() === 'explorador') {
              @if (item.getTags().length > 0) {
              <span class="topic-label" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }@else {
              <span class="topic-label2" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }
              }
              }
            </div>
          </div>
          <div class="topic-section">
            <h4>Entusiasta:</h4>
            <div class="chip">
              @for (item of userPreferenceInformation?.userPreference; track $index) {
              @if (item.getType() === 'entusiasta') {
              @if (item.getTags().length > 0) {
              <span class="topic-label" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }@else {
              <span class="topic-label2" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }
              }
              }
            </div>
          </div>
        </div>
        <div class="buttons">
          <app-button [text]="textFollow" buttonClass="tiny-button"
            (clickEvent)="followUser(userPreferenceInformation?.userId || '')"></app-button>
          <app-button text="Ver perfil" buttonClass="tiny-button"
            (clickEvent)="goToProfile(userPreferenceInformation?.userId)"></app-button>
          <app-button text="Enviar mensaje" buttonClass="tiny-button"
            (clickEvent)="sendMessage(userPreferenceInformation?.userId)"></app-button>
        </div>
      </div>
      }
    </app-aside>
  </div>
</div>
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem', height:'40rem' }" [closable]="true"
  [dismissableMask]="true" [draggable]="false">
  <h2 class="text-center mt-3">Filtros</h2>
  <form [formGroup]="filterForm">
    <h4 class="text-center">Selecciona tus preferencias</h4>
    <div class="form-group">
      <div class="multi-select-wrapper">
        <p-multiSelect [options]="topicsEntusiasta" [filter]="false" optionLabel="topic_name" placeholder="Entusiasta"
          [style]='{width:"100%"}' formControlName="topicsEntusiastas" />
        @if(isTopicsEntusiasta()){
        <p-checkbox label="¿Deseas conectar solo con entusiastas?" id="conectado" value="si"
          formControlName="onlyEntusiastas" class="mt-3"></p-checkbox>
        }
      </div>
    </div>

    <div class="form-group mt-5">
      <p-multiSelect [options]="topicsExplorador" [filter]="false" optionLabel="topic_name" placeholder="Explorador"
        [style]='{width:"100%"}' formControlName="topicsExploradores" />
      @if(isTopicsExplorador()){
      <p-checkbox label="¿Deseas conectar solo con mentores?" id="conectado" value="si"
        formControlName="onlyExploradores" class="mt-3"></p-checkbox>
      }
    </div>

    <div class="form-group mt-5">
      <p-multiSelect [options]="topicsMentor" [filter]="false" optionLabel="topic_name" placeholder="Mentor"
        [style]='{width:"100%"}' formControlName="topicsMentores" />
      @if(isTopicsMentor()){
      <p-checkbox label="¿Deseas conectar solo con exploradores?" id="conectado" value="si"
        formControlName="onlyMentores" class="mt-3"></p-checkbox>
      }
    </div>


    <div class="input-group mb-5 mt-5">
      <div class="input">
        <label for="genero">Genero</label>
        <p-dropdown id="genero" [options]="genders" optionLabel="name" placeholder="Selecciona "
          formControlName="gender" />
      </div>
      <div class="input">
        <label for="conectado">Mostrar solo usuarios conectados</label>
        <p-checkbox label="Si" id="conectado" value="si" formControlName="connect" />
      </div>
    </div>

    <div class="flex-type">
      <app-button text="Aplicar" (clickEvent)="filterApply()" class="mt-5" buttonClass="btn-large">
      </app-button>
    </div>
    <!-- [isDisabled]="!filterForm.valid" -->
  </form>
</p-dialog>


@if(modalShowInfo()){
<div class="connection-preferences-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h3>Encuentra tus conexiones ideales</h3>
      <button class="close-button" (click)="showDialogType()">&times;</button>
    </div>
    <div class="modal-body">
      <p>Descubre los diferentes tipos de conexiones que puedes hacer en nuestra red social:</p>
      <div class="connection-types">
        <div class="connection-type">
          <div class="preference-icon">🧠</div>
          <h4>Mentor - Explorador</h4>
          <p>Los mentores pueden enseñar a los exploradores sobre sus temas de interés.</p>
        </div>
        <div class="connection-type">
          <div class="preference-icon">🔍</div>
          <h4>Explorador - Mentor</h4>
          <p>Los exploradores pueden aprender de los mentores en sus áreas de expertise.</p>
        </div>
        <div class="connection-type">
          <div class="preference-icon">💡</div>
          <h4>Entusiasta - Entusiasta</h4>
          <p>Los entusiastas pueden conectar y disfrutar juntos de sus temas de interés.</p>
        </div>
      </div>
      <p>Recuerda, independientemente de tu preferencia, puedes encontrar conexiones con personas que comparten tus
        mismos temas de interés.</p>
    </div>
  </div>
</div>
}

@if(showTags()){
<div class="modall">
  <div class="modall-content">
    <div class="modall-header">
      <h2>{{userPref?.getTopicName()}}</h2>
      <span class="modall-close" (click)="showTagss(undefined)">&times;</span>
    </div>
    @if (userPref?.getTags()!.length > 0) {
    <div class="title">
      <h3>Etiquetas relacionadas:</h3>
    </div>
    }
    <div class="modall-body">
      @if (userPref?.getTags()!.length > 0) {
      @for (item of userPref?.getTags(); track $index) {
      <button>{{item.getTagName()}}</button>
      }
      }@else {
      <h3>Esta preferencia no tiene etiquetas relacionadas</h3>
      }
    </div>
  </div>
</div>
}