<div class="contenedor">
    <div class="main-content">
        <app-header>
            <h2>Conectar</h2>
        </app-header>

        <div class="btnFiltros">
            <app-button buttonClass="small-button" text="Filtros" (clickEvent)="showDialog()"></app-button>
        </div>


        <div class="cards">
            @for (user of allUserPreferences; track $index) {
                <app-card (click)="selectCard(user)">
                  <div class="info-user">
                    <div class="img-user">
                      <img [src]="user.userInformation?.profile_picture" alt="">
                    </div>
                    <div class="username">
                      <p>{{user.userInformation?.username}}</p>
                    </div>
                  </div>
                  <div class="user_topics">
                    <div class="chip">
                      @for (userTopic of user.userPreference; track $index) {
                        <p-chip [label]="userTopic.getTopicName()"></p-chip>
                        <!-- @for (myTopic of myUserPreference; track $index) {
                          @if(myTopic.getTopicId() == userTopic.getTopicId()) {
                            <p-chip [label]="userTopic.getTopicName()"></p-chip>
                          }
                        } -->
                      }
                    </div>
                  </div>
                  <div class="matchPercentage">
                    <p>Match: {{user.matchPercentage | number:'1.0-0'}}%</p>
                  </div>
                </app-card>
              }
            <!--tooltip para mostrar cual enseña y cual no , en donde dice topics-->


        </div>


    </div>
    <div id="aside">
        <app-aside>
            <app-header></app-header>
            @if (showInfo()) {
            <div class="information-user">
                <div class="image-container">
                    <img [src]="userPreferenceInformation?.userInformation?.profile_picture" alt=""
                        class="profile-image">
                </div>
                <div class="username">
                    <h3>{{userPreferenceInformation?.userInformation?.username}}</h3>
                </div>
                <div class="topics">
                    <div class="know">
                        <h4>Mentor: </h4>
                        <div class="chip">
                            @for (item of userPreferenceInformation?.userPreference; track $index) {
                            @if (item.getType() === 'mentor') {
                            <p-chip [label]="item.getTopicName()"></p-chip>
                            }
                            }
                        </div>
                    </div>
                    <div class="learn">
                        <h4>Explorador: </h4>
                        <div class="chip">
                            @for (item of userPreferenceInformation?.userPreference; track $index) {
                            @if (item.getType() === 'explorador') {
                            <p-chip [label]="item.getTopicName()"></p-chip>
                            }
                            }
                        </div>
                    </div>
                    <div class="learn">
                        <h4>Entusiasta: </h4>
                        <div class="chip">
                            @for (item of userPreferenceInformation?.userPreference; track $index) {
                            @if (item.getType() === 'entusiasta') {
                            <p-chip [label]="item.getTopicName()"></p-chip>
                            }
                            }
                        </div>
                    </div>
                </div>
                <div class="buttons">
                    <app-button [text]="textFollow" buttonClass="tiny-button" (clickEvent)="followUser(userPreferenceInformation?.userId)"></app-button>
                    <app-button text="Ver perfil" buttonClass="tiny-button" (clickEvent)="goToProfile(userPreferenceInformation?.userId)"></app-button>
                    <app-button text="Enviar mensaje" buttonClass="tiny-button" (clickEvent)="sendMessage(userPreferenceInformation?.userId)"></app-button>
                </div>
            </div>
            }
        </app-aside>
    </div>
</div>
<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '40rem', height:'40rem' }" [closable]="true"
    [dismissableMask]="true" [draggable]="false">
    <h2 class="text-center mt-3">Filtros</h2>
    <form [formGroup]="filterForm">
        <h4 class="text-center">Selecciona tus preferencias</h4>
        <div class="form-group mb-3 mt-5">
            <!-- <p-dropdown [options]="topicsKnow" optionLabel="topic_name" placeholder="Selecciona un tema"
               /> -->
            <p-multiSelect [options]="topicsEntusiasta" [filter]="false" optionLabel="topic_name"
                placeholder="Entusiasta" [style]='{width:"100%"}' formControlName="topicsEntusiastas" />
                @if(isTopicsEntusiasta()){
                    <p-checkbox label="¿Deseas conectar solo con entusiastas?" id="conectado" value="si"
                        formControlName="onlyEntusiastas" class="mt-3"></p-checkbox>
                    }

        </div>

        <div class="form-group mt-5">
            <p-multiSelect [options]="topicsExplorador" [filter]="false" optionLabel="topic_name"
                placeholder="Explorador" [style]='{width:"100%"}' formControlName="topicsExploradores" />
                @if(isTopicsExplorador()){
                    <p-checkbox label="¿Deseas conectar solo con mentores?" id="conectado" value="si"
                        formControlName="onlyExploradores" class="mt-3"></p-checkbox>
                    }
        </div>

        <div class="form-group mt-5">
            <p-multiSelect [options]="topicsMentor" [filter]="false" optionLabel="topic_name" placeholder="Mentor"
                [style]='{width:"100%"}' formControlName="topicsMentores" />
            @if(isTopicsMentor()){
            <p-checkbox label="¿Deseas conectar solo con exploradores?" id="conectado" value="si"
                formControlName="onlyMentores" class="mt-3"></p-checkbox>
            }
        </div>


        <div class="input-group mb-5 mt-5">
            <div class="input">
                <label for="genero">Genero</label>
                <p-dropdown id="genero" [options]="genders" optionLabel="name" placeholder="Selecciona "
                    formControlName="gender" />
            </div>
            <div class="input">
                <label for="conectado">Mostrar solo usuarios conectados</label>
                <p-checkbox label="Si" id="conectado" value="si" formControlName="connect" />
            </div>
        </div>

        <app-button text="Aplicar" (clickEvent)="filterApply()" class="mt-5" buttonClass="smallButton">
        </app-button>
        <!-- [isDisabled]="!filterForm.valid" -->
    </form>
</p-dialog>