.message.received {
  background-color: #e6e6e6;
  color: #333;
  align-self: flex-start;
}

.message.sent {
  background-color: #007bff;
  color: #fff;
  margin-left: auto; /* Alinea el mensaje a la derecha */
}

.timestamp {
  font-size: 10px;
  color: #999;
  margin-top: 5px;
}
.message {
  max-width: 350px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  border-radius: 2.5rem;
}

.message-content {
  padding: 10px 15px;
  border-radius: 15px;
  margin-bottom: 5px;
  max-width: 100%;
  word-wrap: break-word;
  line-height: 1.4;
}

.message-time {
  font-size: 0.7rem;
  color: #fff;
  margin-right:30px;
  margin-bottom: 5px;
  align-self: flex-end;
}
