@if (yetNo()){
    <div class="contenedor">
      <p-progressSpinner class="spinner" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s" />
    </div>
    }@else if(!notFound()){
    <!-- user-stats.component.html -->
    <div class="user-stats-card">
      <div class="card-header">
        <h2>Estadísticas del grupo</h2>
      </div>
    
      <div class="card-body">
        <div class="user-info">
          <h3>{{ user.getName() }}</h3>
    
          <div class="stats-grid">
            <div class="stat-item">
              <i class="icon-posts"></i>
              <span class="stat-label">Publicaciones:</span>
              <span class="stat-value">{{ user.getPostCount() }}</span>
            </div>
    
            <div class="stat-item">
              <i class="icon-followers"></i>
              <span class="stat-label">Miembros:</span>
              <span class="stat-value">{{ user.getMemberCount() }}</span>
            </div>
    
            <div class="stat-item">
              <i class="icon-following"></i>
              <span class="stat-label">Tema:</span>
              <span class="stat-value">{{ user.getTopicName() }}</span>
            </div>
    
            <div class="stat-item">
              <i class="icon-topics"></i>
              <span class="stat-label">Tipo de grupo:</span>
              <span class="stat-value">{{ user.getType() }}</span>
            </div>
    
            <div class="stat-item">
              <i class="icon-voice-rooms"></i>
              <span class="stat-label">Cantidad de etiquetas</span>
              <span class="stat-value">{{ user.getTags().length}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
    }
    
    @if(notFound()){
    <div class="user-not-found-container">
      <div class="error-card">
        <div class="error-icon">
          <i class="fas fa-user-slash"></i>
        </div>
        <h1>Usuario no encontrado</h1>
        <p>Lo sentimos, no pudimos encontrar el perfil que está buscando.</p>
      </div>
    </div>
    }