<!-- <div class="contenedor">
  <div class="main-content">
    <app-header>
      <div class="header">
        <h2>Conectar</h2>
      </div>
    </app-header>

    @if (yetNo()) {
    <div class="container-power">
      <div class="card-containerrr">
        <div class="flex mb-3">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
          <div class="mr-2">
            <p-skeleton width="15rem" styleClass="mb-2" class="" />
          </div>
        </div>
        <p-skeleton width="100%" height="150px" />
      </div>
    </div>
    <div class="container-power">
      <div class="card-containerrr">
        <div class="flex mb-3">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
          <div class="mr-2">
            <p-skeleton width="15rem" styleClass="mb-2" class="" />
          </div>
        </div>
        <p-skeleton width="100%" height="150px" />
      </div>
    </div>
    <div class="container-power">
      <div class="card-containerrr">
        <div class="flex mb-3">
          <p-skeleton shape="circle" size="4rem" styleClass="mr-2" />
          <div class="mr-2">
            <p-skeleton width="15rem" styleClass="mb-2" class="" />
          </div>
        </div>
        <p-skeleton width="100%" height="150px" />
      </div>
    </div>
    }@else {
    @if(allUserPreferences.length > 0){
    <div class="btnFiltros">
      <app-button buttonClass="small-button" text="Tipos de conexiones" (clickEvent)="showDialogType()"></app-button>
      <app-button buttonClass="small-button" text="Filtros" (clickEvent)="showDialog()"></app-button>
    </div>

    <div class="cards-container">
      @for (item of allUserPreferences; track $index) {
      <app-card-user [userPreference]="item" (clickEvent)="selectCard($event)"
        [myPreferences]="myUserPreference"></app-card-user>
      }
    </div>
    }@else {
    <div class="no-connections-state">
      <div class="no-connections-content">
        <h2>No encontramos a nadie para conectar</h2>
        <p>Intenta ajustar tus filtros o vuelve a intentarlo más tarde.</p>
        <button class="refresh-button" (click)="showDialog()">Volver a buscar</button>
      </div>
    </div>
    }
    }


  </div>
  <div id="aside">
    <app-aside>
      <div class="flex">
        <form [formGroup]="formSearch">
            <div class="search-container">
                <input type="text" placeholder="Buscar en TalkZone" class="search-input" formControlName="search" (keydown.enter)="search()">
                <button class="search-button" (click)="search()">
                    <i class="pi 
                      pi-search"></i>
                </button>
            </div>
        </form>
    </div>
      @if (showInfo()) {
      <div class="information-user">
        <div class="image-container">
          <img [src]="userPreferenceInformation?.userInformation?.profile_picture" alt="" class="profile-image">
        </div>
        <div class="username">
          <h3>{{userPreferenceInformation?.userInformation?.username}}</h3>
        </div>
        <div class="topics">
          <div class="topic-section">
            <h4>Mentor:</h4>
            <div class="chip">
              @for (item of userPreferenceInformation?.userPreference; track $index) {
              @if (item.getType() === 'mentor') {
              @if (item.getTags().length > 0) {
              <span class="topic-label" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }@else {
              <span class="topic-label2" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }
              }
              }
            </div>
          </div>
          <div class="topic-section">
            <h4>Explorador:</h4>
            <div class="chip">
              @for (item of userPreferenceInformation?.userPreference; track $index) {
              @if (item.getType() === 'explorador') {
              @if (item.getTags().length > 0) {
              <span class="topic-label" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }@else {
              <span class="topic-label2" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }
              }
              }
            </div>
          </div>
          <div class="topic-section">
            <h4>Entusiasta:</h4>
            <div class="chip">
              @for (item of userPreferenceInformation?.userPreference; track $index) {
              @if (item.getType() === 'entusiasta') {
              @if (item.getTags().length > 0) {
              <span class="topic-label" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }@else {
              <span class="topic-label2" (click)="showTagss(item)">{{item.getTopicName()}}</span>
              }
              }
              }
            </div>
          </div>
        </div>
        <div class="buttons">
          <app-button [text]="textFollow" buttonClass="tiny-button"
            (clickEvent)="followUser(userPreferenceInformation?.userId || '')"></app-button>
          <app-button text="Ver perfil" buttonClass="tiny-button"
            (clickEvent)="goToProfile(userPreferenceInformation?.userId)"></app-button>
          <app-button text="Enviar mensaje" buttonClass="tiny-button"
            (clickEvent)="sendMessage(userPreferenceInformation?.userId)"></app-button>
        </div>
      </div>
      }
    </app-aside>
  </div>
</div> -->