.navbar-left {
  position: fixed; /* Fijo en la pantalla */
  top: 0;
  left: 0;
  height: 100vh; /* Toda la altura disponible */
  width: 250px; /* Ancho fijo para el navbar */
  /* background-color: #1DA1F2; Color similar a Twitter */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para destacar */
}

.navbar-left ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

li {
  margin-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s;
}
