<li class="navbar-item">
  <a [routerLink]="link" class="navbar-link">
    @if (!badge) {
    <span class="navbar-icon" [ngClass]="icon"></span>
    }@else {
    @if (label === 'Notificaciones' && _notService.getUnreadNotifications() > 0) {
    <span class="navbar-icon" [ngClass]="icon" pBadge [value]="_notService.getUnreadNotifications()"></span>
    }@else if(label === 'Mensajes' && _notService.getUnreadMessages() > 0){
    <span class="navbar-icon" [ngClass]="icon" pBadge [value]="_notService.getUnreadMessages()"></span>
    }@else {
    <span class="navbar-icon" [ngClass]="icon"></span>
    }
    }
    <span class="navbar-label">{{ label }}</span>
    <!-- @if (badge) {
      <span class="navbar-badge">{{ badge }}</span>
    } -->
<li>