<div id="modal-background" class="modal-background">
    <div class="post-modal">
      <div class="post-header">
        <span>Crear sala</span>
        <button class="close-button" (click)="close()">&times;</button>
      </div>
      <div class="post-content">
        <div class="form-container">
            <!--  -->
            <form [formGroup]="formCreateGroup">
            <label for="group-name">Nombre de sala</label>
            <input type="text" id="group-name" placeholder="Nombre de la sala" formControlName="name">
  
            <label for="group-type">Preferencia:</label>
            <select id="group-type" formControlName="type">
              <option value="" disabled selected>Tipo de preferencia:</option>
              <option value="mentor">Mentor</option>
              <option value="explorador">Explorador</option>
              <option value="entusiasta">Entusiasta</option>
            </select>
  
            @if (firtStep()) {
            <label for="group-theme">Tema a elegir</label>
            <p-dropdown optionLabel="name" placeholder="Seleccionar categoria" [style]='{width:"100%"}'
            [options]="topicPrincipalList" optionLabel="topic_name" formControlName="topic_id" />
            }
          </form>
        </div>
  
      </div>
      @if(progressBar()){
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
      }
      <div class="post-footer">
        <app-button text="Crear sala" (clickEvent)="saveChanges()"></app-button>
      </div>
    </div>
  </div>