/* .containerr {
  width: 100%;
  position: relative;
}

#room__container {
  position: relative;
  display: flex;
  gap: 3rem;
}

.nombre {
  color: #fff;
} */

.title {
  height: 2.99rem;
  border-bottom: solid #d3d3d3 1px;
}

.voice-room-container {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-rows: 1fr;
  height: calc(100% - 3rem);
}

.sidebar {
  padding: 20px;
}

.stage-container {
  padding: 20px;
  border-left: 1px #d3d3d3 solid;
  border-right: 1px #d3d3d3 solid;
}

.chat-container {
  padding: 20px;
  height: 100%;
}

.mr-5 {
  margin-right: 2.5rem;
}

.title {
  display: flex;
  justify-content: space-between;
}