<div class="profile-container">
  @if (type === 'user') {
  <div class="cover-image">
    <img [src]="myUser.getCoverPicture()" alt="Cover image">
  </div>
  }@else if(type === 'group'){
  <div class="cover-photo" [style.background-image]="'url(' + myGroup.getCoverPicture() + ')'">
  </div>
  }
  <div class="profile-content">
    <div class="profile-image">
      <img [src]="myUser.getUserDemo().getProfilePic()" alt="Enrique's profile picture">
    </div>
    <div class="info">
      <p class="username">{{myUser.getUserDemo().getUsername()}}</p>
      <div class="stats">
        <p><span class="stat-value">29</span> Siguiendo</p>
        <p><span class="stat-value">24</span> Seguidores</p>
      </div>
    </div>
  </div>
  <!-- <div class="follow-button-container">
        <button class="follow-button">Seguir</button>
    </div> -->
</div>