<div id="modal-background" class="modal-background">
  <div class="post-modal">
    <div class="post-header">
      <span>Crear grupo</span>
      <button class="close-btn" (click)="onClick()">&times;</button>
    </div>
    <div class="post-content">
      <div class="form-container">
        <form [formGroup]="formCreateGroup" novalidate (ngSubmit)="saveChanges()">
          <label for="group_name">Nombre del grupo</label>
          <input pInputText type="text" id="group_name" formControlName="group_name" placeholder="Nombre del grupo">
          <label for="group-type">Tipo de grupo</label>
          <select id="group-type" formControlName="type">
            <option value="" disabled selected>Selecciona una opción</option>
            <option value="mentor">Enseñanza y aprendizaje</option>
            <option value="other">Foros de Pasión</option>

          </select>

          @if (firtStep()) {
          <label for="group-theme">Tema a elegir</label>
          <p-dropdown optionLabel="name" placeholder="Seleccionar categoria" [style]='{width:"100%"}'
            [options]="topicPrincipalList" optionLabel="topic_name" formControlName="topic_id" />

          <fieldset>
            <legend>Privacidad del grupo</legend>
            <div class="privacy-options-container">
              <label class="privacy-radio-label">
                <input type="radio" name="privacy" value="public" formControlName="privacy">
                <span class="radio-custom"></span>
                <span class="radio-text">Público</span>
              </label>
              <label class="privacy-radio-label">
                <input type="radio" name="privacy" value="private" formControlName="privacy">
                <span class="radio-custom"></span>
                <span class="radio-text">Privado</span>
              </label>
            </div>
          </fieldset>
          }
        </form>
      </div>

    </div>
    @if(progressBar()){
      <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
    }
    <div class="post-footer">
      <app-button text="Siguiente" (clickEvent)="saveChanges()"></app-button>
    </div>
  </div>
</div>