<div class="contenedor">
    <div class="main-content">
        <app-header>
            <h2 class="text-center">Grupos</h2>
        </app-header>

        <div class="container">
            <h1>
                ¡Explora nuevas comunidades y conecta con personas afines!
            </h1>
            <p>
                Aquí podrás unirte a conversaciones, compartir intereses y descubrir grupos que se ajusten a tus
                pasiones. ¡Encuentra tu lugar y empieza a disfrutar!
            </p>
        </div>
        <div class="center-button">
            <app-button text="Comenzar a explorar" buttonClass="big-button" (clickEvent)="goToDiscover()"></app-button>

        </div>
    </div>
    <div id="aside">
        <app-aside></app-aside>
    </div>
</div>