<div class="contenedor">
    <div class="main-content">
        <div class="container">
            <router-outlet></router-outlet>
        </div>
    </div>
    <div id="aside">
        <app-aside>
            <div class="flex">
                <form [formGroup]="formSearch">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar en TalkZone" class="search-input" formControlName="search" (keydown.enter)="search()">
                        <button class="search-button" (click)="search()">
                            <i class="pi 
                              pi-search"></i>
                        </button>
                    </div>
                </form>
            </div>
            <div class="container">
                <div class="option" (click)="goToFeed()">
                    <h3>Tu feed</h3>
                </div>
                <div class="option" (click)="goToDiscover()">
                    <h3>Descubrir grupos</h3>
                </div>
                <div class="option" (click)="goToMyGroups()">
                    <h3>Tus grupos</h3>
                </div>
            </div>
        </app-aside>
    </div>
</div>