<div class="contenedor">
    <app-header>
        <div class="header">
            <h2>Tu cuenta</h2>
        </div>
    </app-header>
    <div class="in-side">
        <div class="account-options">
            <div class="option">
                <span class="icon">👤</span>
                <span>Información de cuenta</span>
            </div>
            <div class="option">
                <span class="icon">🔒</span>
                <span>Cambiar contraseña</span>
            </div>
        </div>
    </div>
</div>