<div class="contenedor">
    <app-header>
        <div class="header">
            @if (active()) {
            <i class="pi pi-arrow-left left" style="font-size: 1.5rem" (click)="goToHome()"></i>
            }
            <h2>{{title}}</h2>
        </div>
    </app-header>
    <div class="in-side">
        @if(title === 'Privacidad'){
        <div class="account-options">
            <div class="option" (click)="goTo('Cuentas bloqueadas')">
                <span class="icon">🖌️</span>
                <span>🚫Cuentas bloqueadas</span>
            </div>
        </div>
        }
        @if(title === 'Cuentas bloqueadas'){
        <div class="container">
            @if (empty()) {
            <div class="empty-state">

                <div class="flex-type">
                    <div class="empty-icon">🚫</div>
                </div>
                <h2 class="empty-title">No tienes usuarios bloqueados</h2>
                <p class="empty-description">
                    Parece que actualmente no has bloqueado a ningún usuario.
                    Cuando bloquees a alguien, aparecerán en esta lista.
                </p>
            </div>
            }@else {
            @for (item of blocked; track $index) {
            <div class="blocked-user">
                <img [src]="item.getProfilePic() || 'images/user.webp'">
                <div class="user-info">
                    <h3>{{item.getUsername()}}</h3>
                </div>
                <button class="btn unblock-btn" (click)="unblock(item.getUserId())">Desbloquear</button>
            </div>
            }
            }

        </div>
        }@else if(title === 'Idiomas'){
        <div class="container">
            <h1 class="title">Idioma de visualización</h1>
            <p class="description">Selecciona tu idioma preferido para los encabezados, los botones y demás texto.
            </p>
            <div class="language-selection">
                <span class="label">Idioma de visualización</span>
                <span class="selected-language">español</span>
                <span class="arrow">></span>
            </div>
        </div>
        }
    </div>
</div>

@if (unblockUser()) {
<div class="modal-overlay">
    <div class="modal-content">
        <h2>Bloquear usuario</h2>
        <p>¿Estás seguro de que deseas bloquear a este usuario?</p>

        <div class="modal-buttons">
            <button class="btn btn-primary" (click)="unblock('')">Cancelar</button>
            <button class="btn unblock-btn" (click)="unblockForReal()">Desbloquear</button>
        </div>
        @if (onGoing()) {
        <p-progressBar mode="indeterminate" [style]="{'height': '6px'}" />
        }
    </div>
</div>
}