<div class="contenedor">
    <div class="options">
        <div class="option">
            <p>Publicaciones</p>
        </div>
    </div>
    <div class="posts">
        <div class="all-post">
            @for (post of allPost(); track post.getId()) {
            <app-post [postContent]="post" [userDemo]="userDemo" type="group" [amHost]="imHost"></app-post>
            }
        </div>
        @if (hasMorePosts) {
        <button (click)="loadMore()">Cargar más</button>
        }
    </div>
</div>