<div class="contenedor">
    <div class="main-content">
        <div class="header">
            <h2 class="title">{{myUser().getUserDemo().getUsername()}}</h2>
        </div>
        <div class="profile-information">
            <app-profile-information [myUser]="myUser()" type="user"></app-profile-information>
        </div>
        <div class="publications">
            <app-post-profile [user_id]="userId()"></app-post-profile>
        </div>
    </div>
    <div id="aside">
        <app-aside>
            <div class="header">

            </div>
            <app-information-profile [user]="myUser()" type="user" [isPrimary]="isPrimary"></app-information-profile>
        </app-aside>
    </div>
</div>


<!-- 
    nombre, descripcion, foto, las user_preferences, 
 -->